.Educationmaindiv{
  
    color:white;
margin-left: 2px;
margin-right: 2px;
margin-top: 2px;
background-color:  #1A0B2E;
}
#educationheading{
    display: flex;
    justify-content: center;
}

#educationintro{
     display: flex;
    justify-content: center;
}
.educationdiv{
  
  width: 80%;
    background: #1C1C27;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
#studyworldpicture{
background: url("assert\\logo-swce.png");
    width: 150%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.educationdetailsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
       position: relative;
}
.educationdiv img{
       width: 30%;
    margin-left: 10px;
    height: 200px;
  
}
#educationSummarydiv{
    width: 100%;
  padding-left:100px ;
 
}
#educationSummarydiv h1 {
font-size: 100%;

}

@media(max-width:597px){
#educationSummarydiv {
 width: 100%;
 font-size:75% ;
 padding-left:20px ;
}
}