#skillContainer {
  background-color: #1a0b2e;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}
#TextDiv {
  margin-top: 0px;
  text-align: center;
  color: white;
}
h1 {
  margin-top: 0px;
}
#skillKnownDiv {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  gap: 10px;
}
#entire-frontend-skill-div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#frontendDiv {
  background-color: #171721;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  border: 2px solid #854ce6;
  overflow-x: hidden;
  overflow-y: scroll;
}
#frontendDiv h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
#backendDiv {
  background-color: #171721;
  border: 2px solid #854ce6;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#backendDiv h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
#othersDiv {
  background-color: #171721;
  overflow: hidden;
  border: 2px solid #854ce6;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#othersDiv h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
#Skillpicturediv {
  height: 100px;
  display: flex;
}
#Skillpicture {
  height: 500px;
  background-image: url("../../assert/Skills (1).svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
#skilldiv {
  width: 132px;
  height: 50px;
  border: 2px solid #854ce6;
  margin-bottom: 10px;
  color: whitesmoke;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reactjspicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/react.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#javaScriptpicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/javaScript.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#Csspicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/css.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#tailwindCsspicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/tailwind.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#htmlpicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/html.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#bootstrappicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/bootstrap.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#latestworkdiv {
  display: flex;
  justify-content: center;
  height: 200px;
  margin-top: 150px;
  align-items: center;
  color: white;
  margin-top: 400px;
}
#latestwork {
  background: linear-gradient(to left, skyblue, blue);
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin-top: 30px;
}

#nodepicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/nodejs.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

#expresspicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/express.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#mongodbpicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/MongoDB_Logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#redispicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/redis.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#GitHubpicture {
  height: 20px;
  width: 20px;
  background-image: url("../../assert/github.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media (max-width: 980px) {
  #Skillpicturediv {
    display: none;
  }
  #skillKnownDiv {
    flex-direction: column;
    align-items: center;
  }
  #frontendDiv {
    width: 100%;
  }
  #backendDiv {
    width: 100%;
    margin-top: 100px;
  }
  #othersDiv {
    width: 100%;
    margin-top: 100px;
  }
  #latestworkdiv {
    margin-top: 10px;
  }
}
